mongo:
    host: 127.0.0.1
    port: 27017
    user: "fetcher"
    password: "**TO BE FILLED**"
    database: "songride"
    artists_collection: "artists"
    users_collection: "users"
    cache_collection: "lastfmcache"
