extends layout

block content
    .page-header
        h1= title
        script(type='text/javascript')
            window.statsdata = !{JSON.stringify(countries)};
        div#raphael-pie
        div#raphael-world
