extends layout

block content
    .page-header
        h1 An error occured.
    :markdown
        Sadly we could not handle your request. Please open a new
        [new Issue](https://github.com/xhochy/songride/issues/new)
        in the [Songride Bugtracker](https://github.com/xhochy/songride/issues)
        so that we could have look into your problem. Please let us
        know which service you used and which username you are using.
