extends layout

block content
    .page-header
        h1= title
    h2 Last.fm
    form#lastfmusername-form.form-horizontal
        .control-group
            label.control-label(for="lastfmusername") User
            .controls
                .input-append
                    input#lastfmusername(type="text",placeholder="username")
                    button.btn(type="submit") Get Statistics

