# Configuration for the database
# TODO: as yaml and global

$config = {
    :mongo => {
        :host => 'localhost',
        :port => 27017,
        :database => 'songride',
        :cache_collection => 'lastfmcache',
        :user_collection => 'users',
        :artist_collection => 'artists',
        :user => 'fetcher',
        :password => '**TO BE FILLED**'
    },
    :lastfm => {
        :apikey => '**TO BE FILLED**'
    }
}

