extends layout

block content
    h1= title
    h3 About
    :markdown
        This is a small mashup to generate a pie chart showing where the arists
        you listen to come from. Just click on [Statistics](/stats) and get
        your personal overview.

