doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      .topbar
          .fill
              .container
                  a.brand(href='#') Songride
          ul.nav
              li
                  a(href='/') Home
            li
                a(href='/register') Register
            li
                a(href='/view') View Statistics
    .container
        .content
            block content
