h1= title
p Enter your Last.FM username so that we will generate statistics for your library the next time.
form(action="register",method="post")
  .well
    .clearfix
      label Username
      .input 
        input(type="text",name="username")
    .actions
      input.primary.btn(type="submit")
