extends layout

block content
    .page-header
        h1 In the queue.
    :markdown
        Your statistics are being generated. Refresh this page in some minutes
        or come backer later. Please be patient.
