extends layout

block content
    .page-header
        h1= title
        script(type='text/javascript')
            var data = !{JSON.stringify(countries)};
            $(document).ready(function() {
                drawLastFMPie(data);
            });
        div#raphael
